<h1>Listing pastes</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Language</th>
  </tr>

<% for paste in @pastes %>
  <tr>
    <td><%=h paste.code[0, 25] %></td>
    <td><%=h paste.language %></td>
    <td><%= link_to 'Show', paste %></td>
    <td><%= link_to 'Edit', edit_paste_path(paste) %></td>
    <td><%= link_to 'Destroy', paste, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New paste', new_paste_path %>
