<table>
  <thead>
    <tr>
      <th>Language: <%=h @paste.language %></th>
      <th>Theme: <%= select_tag :themes, options_for_select(%w{active4d all_hallows_eve amy blackboard brilliance_black brilliance_dull cobalt dawn eiffel espresso_libre idle iplastic lazy mac_classic magicwb_amiga pastels_on_dark spacecadet sunburst twilight zenburnesque}), :onChange => "changeStyle(this.value)", :id => "theme_picker" %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2" id="code" style="width: auto;">
          <%=c @paste.code.gsub(/\t/, '  '), :syntax => @paste.language %>
      </td>
    </tr>
    <tr>
      <td><%= link_to 'Edit', edit_paste_path(@paste) %></td>
      <td><%= link_to 'Back', pastes_path %></td>
		</tr>
  </tbody>
</table>




