<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'application' %>
  <%- %w{active4d all_hallows_eve amy blackboard brilliance_black brilliance_dull cobalt dawn eiffel espresso_libre idle iplastic lazy mac_classic magicwb_amiga pastels_on_dark spacecadet sunburst twilight zenburnesque}.each do |theme| -%>
    	<%= require_syntax_css theme%>
  <%- end -%>
  <%= javascript_include_tag :defaults %>
</head>
<body>
<% if flash[:notice] -%>
<p style="color: green"><%= flash[:notice] -%></p>
<% end -%>
<%= yield  %>
<table>
  <tfoot>
    <tr>
      <td><%= link_to_unless_current 'Pastes', pastes_path %></td>
      <td><%= link_to_unless_current 'Pictures', pictures_path %></td> 
    </tr>
  </tfoot>
</table>
</body>
</html>
